
.header{
    padding: 10px 80px;
    text-decoration: none;
    font-size: 18px;
    width: 100%;
    margin-left: auto;
    border:solid rgb(240, 239, 239) 1px;
    margin-right: auto;
    
}

.header a:hover {
    background-color: #ddd;
    border-radius: 8px;
    transition: 1s;

}

.header a {
    font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 500;
    font-size: 0.875rem;
    color: black;
    padding: 10px;
    text-decoration: none;
    vertical-align: super;
}

.btn{
    padding: 8px;
    border-radius: 10px;
    font-size: 0.875rem;
    cursor: pointer;
    transition: 150ms;
    display: inline;
    background-color: #F3F6F9;
    margin-left: 40%;
    vertical-align: super;
    border-color: rgb(237, 236, 236);
}


.search{
    padding: 20px 20px;
}

.ctrl{
    padding:1.5px 1.5px;
    display: inline;
    font-size: 0.75rem;
    font-weight: 700;
    border: 1px solid rgb(237, 237, 237);
    background-color: rgb(255, 255, 255);
    border-radius: 7px;
}



.img{
   width: 30px;
}

.btn2{
  font-size: large;
  background-color: white;
  border-radius: 5px;
  border:1px solid rgb(239, 237, 237);
}

.btn3{
    font-size: large;
    vertical-align: super;
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgb(239, 237, 237);
}

.link{
    vertical-align: super;
}

.color{
    color: blue;
}
